<div>
  <div>
    <app-page-title [title]="titlePage" />
    <div class="split indicators">
      <app-chart-indicator
        title="Number of countries"
        [value]="totalCountries()"
      />
      <app-chart-indicator title="Number of JOs" [value]="totalJOs()" />
    </div>
  </div>
  @if (countryNames().length) {
    <app-pie-chart
      title="DashboardPieChart"
      [labels]="countryNames()"
      label="Medals"
      [data]="sumOfAllMedalsYears()"
      (elementClick)="onCountryClick($event)"
    />
  }
</div>
