/* You can add global styles to this file, and also import other style files */

.center {
  display: flex;
  justify-content: center;
}

.btn-primary {
  background: #0b868f;
  padding: 10px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}
